table {
    width: 20em;
    margin-left: 5%;
}
td {
    border-bottom: 2px solid #1d1d1d;
}
th {
    background-color: #161618;
}

.aside-pic {
    width: 20em;
    margin-left: 5%;
}

.aside-header {
    text-align: center;
}