/*general*/
body {
    background-color: #101010;
    color: #DADADA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 1em;
}

div.content {
    display: flex;
}
/*navigation*/
.h-pic {
    max-width: 90%;
    padding-left: 3%;
    height: auto;
}
nav {
    width: 21%;
    position: fixed;
    top: 0;
    height: 100vh;
    padding-top: 20px;
    border-right: 3px solid #1d1d1d;
}

nav li {
    margin-top: 20px;
    list-style-type: none;
    font-size: 1.1em;
}

.nav {
    color: #DADADA;
    text-decoration: none;
}
/*main content*/
main {
    margin-left: 23%;
    font-size: 1.1em;
    max-width: 50%;
    justify-content: center;
    align-items: center;
}
/*links*/
.text-link {
    color: #DADADA;
    font-style: italic;
}

.text-link>:hover {
    color: red;
}

/*footer*/
footer {
    margin-top: 30px;
    margin-left: 23%;
    max-width: 800px;
}

.foot-hr {
    margin-top: 5%;
    margin-bottom: -1%;
}

/*right panel*/
aside {
    margin-left: auto;
    border-left: 3px solid #1d1d1d;
    margin-right: auto;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
}

table {
    width: 20em;
    margin-left: 5%;
}

td {
    border-bottom: 2px solid #1d1d1d;
}

th {
    background-color: #161618;
}

.aside-pic {
    width: 20em;
    margin-left: 5%;
}

.aside-header {
    text-align: center;
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #161618;
}

::-webkit-scrollbar-thumb {
    background: #393639;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}